* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: gold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container div {
  margin-bottom: 10px;
}
.titolo {
  background-color: lightblue;
  height: 100px;
  width: 90%;
  justify-content: center;
  display: flex;
  font-size: 20px;
}

.risultato {
  background-color: lightyellow;
  width: 90%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottoni {
  background-color: lightgreen;
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottone {
  background-color: lightgrey;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.finale {
  background-color: lightpink;
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contorni {
  border: 1px solid black;
  height: 100px;
  width: 300px;
}
